
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mainat-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="css/index.css?20151204">
    <script>
        // 获取sign值
        window['openId'] = '<%=openId%>';
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c9a738fe0356938c9a4e6d8f98763798";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
openid = <%=openId%><br/>
baseRedirectUri = <%=baseRedirectUri%>
<%if (userInfo){
   with(userInfo) {
%>
nickname = <%=nickname%>
unionId = <%=unionId%>
headImgUrl = <%=headImgUrl%><a href="<%=headImgUrl%>"><img src="<%=headImgUrl%>"></a>
title = <%=title%>
desc = <%=desc%>
<%}
}%>

<!--<div class="main">
    <ul class="wp">
        <li class="wp-1">
            <div class="time">
                <div class="min">
                    <span class="sb sb1"><img src="images/kong.gif"></span>
                    <span class="sb sb2"><img src="images/kong.gif"></span>
                    <span class="sb sb3"><img src="images/kong.gif"></span>
                    <span class="sb sb4"><img src="images/kong.gif"></span>
                    <span class="sb sb5"><img src="images/kong.gif"></span>
                </div>
                <div class="date">12月4日 星期五</div>
            </div>
            <ul class="content">
                <li class="list">
                    <img src="images/icon.png">
                    <div class="text">
                        <div class="one">
                            微信
                            <span>现在</span>
                        </div>
                        <div class="two">杨幂：在吗？</div>
                        <div class="three">滑动来查看</div>
                    </div>
                </li>
                <li class="list">
                    <img src="images/icon.png">
                    <div class="text">
                        <div class="one">
                            微信
                            <span>现在</span>
                        </div>
                        <div class="two">贾乃亮：我是不是最帅的？</div>
                        <div class="three">滑动来查看</div>
                    </div>
                </li>
                <li class="list">
                    <img src="images/icon.png">
                    <div class="text">
                        <div class="one">
                            微信
                            <span>现在</span>
                        </div>
                        <div class="two">李小璐：《消失的凶手》怎么样？</div>
                        <div class="three">滑动来查看</div>
                    </div>
                </li>
                <li class="list">
                    <img src="images/icon.png">
                    <div class="text">
                        <div class="one">
                            微信
                            <span>现在</span>
                        </div>
                        <div class="two">杨宗纬：如果你愿意一层一层的剥开我的心</div>
                        <div class="three">滑动来查看</div>
                    </div>
                </li>
                <li class="list last">
                    <img src="images/icon.png">
                    <div class="text">
                        <div class="one">
                            微信
                            <span>现在</span>
                        </div>
                        <div class="two">夏雨：我不想做你下雨天才会想起的人！</div>
                        <div class="three">滑动来查看</div>
                    </div>
                </li>
            </ul>
            <div class="bottom"></div>
        </li>
        <li class="wp-2">
            <div class="search">
                <img src="images/top.jpg"></div>
            <ul class="content2">
                <li class="list2" data-name="3">
                    <img src="images/yangmi.png">
                    <div class="text2">
                        <div class="one">杨幂</div>
                        <div class="two">在吗？</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="4">
                    <img src="images/jianailiang.png">
                    <div class="text2">
                        <div class="one">贾乃亮</div>
                        <div class="two">我是不是最帅的？</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="5">
                    <img src="images/xiaolu.png">
                    <div class="text2">
                        <div class="one">李小璐</div>
                        <div class="two">《消失的凶手》怎么样？</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="6">
                    <img src="images/yangzongwei.png">
                    <div class="text2">
                        <div class="one">杨宗纬</div>
                        <div class="two">如果你愿意一层一层的剥开我的心</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="7">
                    <img src="images/xiayu.png">
                    <div class="text2">
                        <div class="one">夏雨</div>
                        <div class="two">我不想做你下雨天才会想起的人！</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="8">
                    <img src="images/logo.png">
                    <div class="text2">
                        <div class="one">滴滴快车</div>
                        <div class="two">[微信红包]领红包，0元拼快车</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="9">
                    <img src="images/logo.png">
                    <div class="text2">
                        <div class="one">滴滴出行</div>
                        <div class="two">桔色星期一，0元拼快车！</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
                <li class="list2" data-name="10">
                    <img src="images/logo2.png">
                    <div class="text2">
                        <div class="one">滴滴快车司机</div>
                        <div class="two">你有一单去月球的任务</div>
                    </div>
                    <div class="time2">18:24</div>
                </li>
            </ul>
            <div class="bottom">
                <img src="images/bottom1.jpg"></div>
        </li>
        <li class="wp-3 mp">
            <div class="msg1 msg">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">在吗？</span>
                </div>
            </div>
            <div class="msg2 msg">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">你看过《怦然星动》了吗？</span>
                </div>
            </div>
            <div class="msg3 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="jt">
                    <img src="images/jt.png"></div>
                <div class="cont">
                    <span class="hua">嗯，看完超想谈恋爱！</span>
                </div>
            </div>
            <div class="msg4 msg">
                <img class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">那就下周一吧。</span>
                </div>
            </div>
            <div class="msg5 msg">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">你来，我陪你心动～</span>
                </div>
            </div>
            <div class="msg6 msg">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">会来的，对吗？</span>
                </div>
            </div>
            <div class="msg7 msg">
                <div class="head">
                    <img src="images/yangmi2.jpg"></div>
                <div class="over" data-name='ym'>
                    <img src="images/over.png"></div>
            </div>
            <div class="bottom">
                <img src="images/bottom2.jpg"></div>
        </li>
        <li class="wp-4 mp">
            <div class="msg1 msg">
                <div class="head">
                    <img src="images/jianailiang2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">我是不是最帅的？</span>
                </div>
            </div>
            <div class="msg2 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="jt">
                    <img src="images/jt.png"></div>
                <div class="cont">
                    <span class="hua">哦，是吗...</span>
                </div>
            </div>
            <div class="msg3 msg">
                <img class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/jianailiang2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">你不觉得全员加速中我最帅吗？</span>
                </div>
            </div>
            <div class="msg4 msg">
                <div class="head">
                    <img src="images/jianailiang2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">我不想废话，下周一想约你！</span>
                </div>
            </div>
            <div class="msg5 msg">
                <div class="head">
                    <img src="images/jianailiang2.jpg"></div>
                <div class="over" data-name='jnl'>
                    <img src="images/over.png"></div>
            </div>
            <div class="bottom">
                <img src="images/bottom2.jpg"></div>
        </li>
        <li class="wp-5 mp">
            <div class="msg1 msg">
                <div class="head">
                    <img src="images/xiaolu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">我的电影《消失的凶手》会去看吗？</span>
                </div>
            </div>
            <div class="msg2 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="jt">
                    <img src="images/jt.png"></div>
                <div class="cont">
						<span class="hua">
							当然会去看
							<img src="images/iconse.png"></span>
                </div>
            </div>
            <div class="msg3 msg">
                <img class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/xiaolu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
						<span class="hua">
							那就约起来，下周一见咯
							<img src="images/tiaopi.png"></span>
                </div>
            </div>
            <div class="msg4 msg">
                <div class="head">
                    <img src="images/xiaolu2.jpg"></div>
                <div class="over" data-name='lxl'>
                    <img src="images/over.png"></div>
            </div>
            <div class="bottom">
                <img src="images/bottom2.jpg"></div>
        </li>
        <li class="wp-6 mp">
            <div class="msg1 msg">
                <div class="head">
                    <img src="images/yangzongwei2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">如果你愿意一层一层的剥开我的心</span>
                </div>
            </div>
            <div class="msg2 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="jt">
                    <img src="images/jt.png"></div>
                <div class="cont">
                    <span class="hua">好啊好啊，我来剥</span>
                </div>
            </div>
            <div class="msg3 msg">
                <img  class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/yangzongwei2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">那来听我演唱会吧，让我也听到你的声音！</span>
                </div>
            </div>
            <div class="msg4 msg">
                <div class="head">
                    <img src="images/yangzongwei2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">12/12上海、12/19北京、1/9广州、1/16福州，等你哦</span>
                </div>
            </div>
            <div class="msg5 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="se">
                    <img src="images/se.png"></div>
            </div>
            <div class="msg6 msg">
                <img  class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/yangzongwei2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">对了, 下周一想给你一个惊喜</span>
                </div>
            </div>
            <div class="msg7 msg">
                <div class="head">
                    <img src="images/yangzongwei2.jpg"></div>
                <div class="over"  data-name='yzw'>
                    <img src="images/over.png"></div>
            </div>
        </li>
        <li class="wp-7 mp">
            <div class="msg1 msg">
                <div class="head">
                    <img src="images/xiayu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">我不想做你下雨天才会想起的人！</span>
                </div>
            </div>
            <div class="msg2 msg">
                <div class="head">
                    <img src="images/xiayu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">为了你，我才接《寻龙诀》这部戏，电影18号就上了</span>
                </div>
            </div>
            <div class="msg3 msg">
                <div class="head">
                    <img src="images/xiayu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">我想约你一起去看，来吗？</span>
                </div>
            </div>
            <div class="msg4 mymsg">
                <div class="head">
                    <img src="images/headimg.jpg"></div>
                <div class="jt">
                    <img src="images/jt.png"></div>
                <div class="cont">
                    <span class="hua">好呀</span>
                </div>
            </div>
            <div class="msg5 msg">
                <img class="zanwei" src="images/zanwei.gif">
                <div class="head">
                    <img src="images/xiayu2.jpg"></div>
                <div class="jb">
                    <img src="images/pdj.png"></div>
                <div class="cont">
                    <span class="hua">对了，下周一，有个惊喜想给你！</span>
                </div>
            </div>
            <div class="msg6 msg">
                <div class="head">
                    <img src="images/xiayu2.jpg"></div>
                <div class="over" data-name='xy'>
                    <img src="images/over.png"></div>
            </div>
            <div class="bottom">
                <img src="images/bottom2.jpg"></div>
        </li>
    </ul>
    <div class="loading-overlay">
        <div class="load-content">
            <div class="load-plane"></div>
            <div class="load-bar">
                <div class="lbar"></div>
                <div class="lnum"></div>
            </div>
        </div>

    </div>
    <div class="hidden" style="left:-1000%;height:0;text-indent:-99999px">
        <audio src="audio/audio.mp3" id="music_audio" preload="auto"></audio>
    </div>
</div>
<script src="http://static.udache.com/gulfstream/webapp/js/didi.new.js"></script>
<script src="http://static.udache.com/gulfstream/webapp/modules/resources/js/queryloader2.min.js"></script>
<script src="js/index.js?20151204"></script>-->
</body>
</html>
